main/modules/logic_app/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "frequency": "Day",
                    "interval": 1,
                    "timeZone": "GMT Standard Time",
                    "schedule": {
                        "hours": [
                            8
                        ],
                        "minutes": [
                            0
                        ]
                    }
                }
            }
        },
        "actions": {
            "Get_Azure_Costs": {
                "type": "Http",
                "inputs": {
                    "uri": "https://management.azure.com/subscriptions/71e85381-5707-48bd-9e75-199a87e9705e/providers/Microsoft.CostManagement/query?api-version=2023-03-01",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "type": "Usage",
                        "timeframe": "MonthToDate",
                        "dataset": {
                            "granularity": "None",
                            "aggregation": {
                                "totalCost": {
                                    "name": "PreTaxCost",
                                    "function": "Sum"
                                }
                            }
                        }
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity"
                    }
                },
                "runAfter": {}
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Get_Azure_Costs')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "properties": {
                                "type": "object",
                                "properties": {
                                    "rows": {
                                        "type": "array"
                                    }
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Get_Azure_Costs": [
                        "Succeeded"
                    ]
                }
            },
            "Send_Email": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['outlook']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "To": "lee.gosling876@outlook.com",
                        "Subject": "Daily Azure Cost Report (MTD)",
                        "Body": "<p><b>Azure Cost (Month-to-Date):</b> £@{body('Parse_JSON')?['properties']?['rows'][0][0]}</p>",
                        "Importance": "High"
                    },
                    "path": "/v2/Mail"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "outlook": {
                    "id": "/subscriptions/71e85381-5707-48bd-9e75-199a87e9705e/providers/Microsoft.Web/locations/westeurope/managedApis/outlook",
                    "connectionId": "/subscriptions/71e85381-5707-48bd-9e75-199a87e9705e/resourceGroups/lgproject-rg-6e8864/providers/Microsoft.Web/connections/outlook-1",
                    "connectionName": "outlook-1",
                    "connectionProperties": {}
                }
            }
        }
    }
}